* {
  padding: 0;
  margin: 0;
  /* border for debugging purposes */
  /* border: solid 1px red; */
}

html {
  font-family: 'Comfortaa', cursive;
}

main {
  min-height: calc(93vh - 10rem);
}

/* HEADER */

.header {
  height: 3rem;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: linear-gradient(to right, #02286b, #7391c8); */
  background-color: #02286b;
  opacity: 0.7;
}

.logo {
  max-width: 60px;
}

.navbar__list {
  display: flex;
}

.navbar__item {
  list-style-type: none;
  font-size: 2rem;
  padding-left: 1rem;
  transition: all 0.2s ease-in-out;
}

.navbar__item a {
  display: inline-block;
  padding-bottom: 2px;
  background-image: linear-gradient(#fff, #fff);
  background-position: left bottom;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.5s;
  color: #fff;
}

.navbar__item a:hover {
  background-size: 100% 2px;
}

a {
  color: black;
  text-decoration: none;
}

@media (max-width: 400px) {
  .navbar__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .navbar__item {
    font-size: 1rem;
    padding-left: 0.5rem;
  }
}

/* FOOTER */

.footer {
  padding: 1rem;
  background: linear-gradient(to right, #02286b, #7391c8);
  color: #fff;
  height: 7rem;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-media__list a img {
  transition: all 0.3s;
}

.social-media__list a img:hover {
  transform: scale(1.1);
}

.social-media a img {
  max-width: 30px;
}

.site-map {
  list-style-type: none;
  display: flex;
}

.site-map li {
  padding-left: 1rem;
  transition: all 0.3s;
}

.site-map li a {
  color: #fff;
}

.site-map li:hover {
  transform: scale(1.1);
}

.copyright {
  text-align: center;
  padding-top: 1rem;
}

@media (max-width: 400px) {
  .site-map {
    display: inline;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* COMPANY IDENTITY SECTION */

.company-identity {
  display: flex;
  justify-content: center;
}

.company-identity img {
  max-width: 350px;
}

.company-identity p {
  align-self: center;
  max-width: 40rem;
  font-style: italic;
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
}

@media (max-width: 800px) {
  .company-identity {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* COMPANIES SECTION */

.companies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.companies__heading {
  text-align: center;
}

.companies__container {
  display: flex;
  align-items: center;
}

.companies__item {
  max-width: 100px;
  padding: 3rem 2rem;
}

@media (max-width: 400px) {
  .companies__item {
    padding: 0 2rem;
  }

  .companies {
    padding-bottom: 5rem;
  }
}

@media (max-width: 800px) {
  .companies {
    flex-direction: column;
  }

  .companies__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .companies__heading {
    font-size: 3rem;
  }

  .companies__item {
    max-width: 200px;
  }
}

/* REVIEWS SECTION */

.review {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  font-style: italic;
  font-size: 1.5rem;
  font-weight: 200;
  padding-bottom: 3rem;
}

.review__profile-wrapper {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;

  grid-column: 2 / 3;
  justify-self: center;
}

.review__profile {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.review p {
  grid-column: 3 / 4;

  quotes: '\201c''\201d';
  vertical-align: baseline;
  text-align: center;
}

.review p:before {
  content: open-quote;
}

.review p:after {
  content: close-quote;
}

@media (max-width: 400px) {
  .review {
    grid-template-columns: 1fr;
  }

  .review__profile-wrapper {
    grid-column: 1 / 4;
  }

  .review p {
    grid-column: 1 / 4;
    padding-left: 0;
    padding-top: 1rem;
  }
}

@media (max-width: 800px) {
  .review {
    grid-template-columns: repeat(2, 1fr);
  }

  .review p {
    font-size: 1.3rem;
    align-self: center;
    padding-left: 1rem;
  }
}

/* SERVICES SECTION */

.service {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service__heading {
  text-transform: uppercase;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.service__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}

.service__text {
  font-size: 1.5rem;
  padding: 1rem 1rem;
}

.service__img {
  max-width: 350px;
}

@media (max-width: 400px) {
  .service__container {
    flex-direction: column;
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  .service__container {
    max-width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

/* MISSION SECTION */

.mission {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mission__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}

.mission__heading {
  text-transform: uppercase;
}

.mission__text {
  font-size: 1.5rem;
  padding: 1rem 0;
}

.mission__btn {
  padding: 1rem;
  border-radius: 3px;
  text-transform: uppercase;
  text-align: center;
  /* border: 2px solid #333; */
  background: linear-gradient(to right, #52688f, #7391c8);
  color: #fff;
}

@media (max-width: 400px) {
  .mission__container {
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .mission__btn {
    width: 100%;
    text-align: center;
  }
}

/* VALUES SECTION */

.values {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.value__container {
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.values__heading {
  text-transform: uppercase;
  justify-self: center;
}

.value__img {
  max-width: 350px;
}

.value__text {
  padding: 1rem 1rem;
  font-size: 1.5rem;
}

@media (max-width: 400px) {
  .value__container {
    flex-direction: column;
    max-width: 100%;
  }

  .value__text {
    align-self: center;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .value__container {
    max-width: 100%;
    padding: 1rem 1rem;
  }
}

/* POSITIONS SECTION */

.positions {
  padding-top: 3rem;
  padding-bottom: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.positions__heading {
  text-transform: uppercase;
}

.position__container {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 3rem 1rem;
}

.position__container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.position__heading {
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 1rem;
}

@media (max-width: 400px) {
  .position__container {
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 1024px) {
  .position__container {
    max-width: 75%;
  }
}

/* CONTACT FORM SECTION */

.form {
  padding: 2.5rem 2.5rem;
  border-radius: 0.25rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

@media (max-width: 600px) {
  .form {
    display: grid;
    grid-template-columns: 1fr;
  }

  .form__input {
    grid-column: 1 / 3;
  }
}

.form__heading {
  font-size: 3rem;
  grid-column: 1 / 3;
  align-self: center;
  justify-self: center;
}

.form__input {
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}

.form__textarea {
  grid-column: 1 / 3;
  font-size: 1.3rem;
  resize: vertical;
  padding: 0.5rem 1rem;
  min-height: 20rem;
}

.form__submit {
  grid-column: 1 / 3;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}
