* {
  padding: 0;
  margin: 0;
  /* border for debugging purposes */
  /* border: solid 1px red; */
}

html {
  font-family: 'Comfortaa', cursive;
}

main {
  min-height: calc(93vh - 10rem);
}

a {
  text-decoration: none;
}

/* HEADER */

.navbar {
  background-color: #02286b !important;
}

.navbar-toggler-icon {
  filter: invert(1);
}

.nav-link {
  color: #fff !important;
}

/* FOOTER */

.logo {
  max-width: 60px;
}

.footer {
  padding: 1rem;
  background: linear-gradient(to right, #02286b, #7391c8);
  color: #fff;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-media__list a img {
  transition: all 0.3s;
}

.social-media__list a img:hover {
  transform: scale(1.1);
}

.social-media a img {
  max-width: 30px;
}

.site-map {
  list-style-type: none;
  display: flex;
}

.site-map li {
  padding-left: 1rem;
  transition: all 0.3s;
}

.site-map li a {
  color: #fff;
  text-decoration: none;
}

.site-map li:hover {
  transform: scale(1.1);
}

.copyright {
  text-align: center;
  padding-top: 1rem;
}

@media (max-width: 400px) {
  .site-map {
    display: inline;
  }
}

/* COMPANY IDENTITY SECTION */

.company-identity {
  display: flex;
  justify-content: center;
}

.company-identity img {
  max-width: 350px;
}

.company-identity p {
  align-self: center;
  max-width: 40rem;
  font-style: italic;
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
}

@media (max-width: 800px) {
  .company-identity {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* COMPANIES SECTION */

.companies__heading {
  text-align: center;
}

.companies__item {
  max-width: 200px;
  padding: 3rem 2rem;
}

@media (max-width: 400px) {
  .companies__item {
    max-width: 100px;
    padding: 0 2rem;
    display: block;
    margin: auto;
  }

  .companies {
    padding-bottom: 5rem;
  }
}

@media (max-width: 800px) {
  .companies {
    flex-direction: column;
  }

  .companies__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .companies__heading {
    font-size: 1.5rem;
  }

  .companies__item {
    max-width: 200px;
  }
}

@media (max-width: 1024px) {
  .companies__item {
    max-width: 150px;
  }
}

/* REVIEWS SECTION */

.review {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  font-style: italic;
  font-size: 1.5rem;
  font-weight: 200;
  padding-bottom: 3rem;
}

.review__profile-wrapper {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;

  grid-column: 2 / 3;
  justify-self: center;
}

.review__profile {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.review p {
  grid-column: 3 / 4;

  quotes: '\201c''\201d';
  vertical-align: baseline;
  text-align: center;
}

.review p:before {
  content: open-quote;
}

.review p:after {
  content: close-quote;
}

@media (max-width: 400px) {
  .review {
    grid-template-columns: 1fr;
  }

  .review__profile-wrapper {
    grid-column: 1 / 4;
  }

  .review p {
    grid-column: 1 / 4;
    padding-left: 0;
    padding-top: 1rem;
  }
}

@media (max-width: 800px) {
  .review {
    grid-template-columns: repeat(2, 1fr);
  }

  .review p {
    font-size: 1.3rem;
    align-self: center;
    padding-left: 1rem;
  }
}

.carousel-indicators button,
.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

/* SERVICES SECTION */

.service {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.service__heading {
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.service__text {
  font-size: 1.5rem;
  padding: 1rem 1rem;
}

.service__img {
  max-width: 350px;
}

@media (max-width: 1024px) {
  .service__container {
    max-width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .service__img {
    max-width: 500px;
  }
}

@media (max-width: 400px) {
  .service__container {
    max-width: 100%;
  }

  .service__img {
    max-width: 250px;
  }
}

/* MISSION SECTION */

.mission {
  padding-top: 2rem;
}

.mission__heading {
  text-transform: uppercase;
}

.mission__text {
  font-size: 1.5rem;
  padding: 1rem 0;
}

.mission__btn {
  padding: 1rem;
  border-radius: 3px;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(to right, #52688f, #7391c8);
  color: #fff;
}

@media (max-width: 400px) {
  .mission__container {
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .mission__btn {
    width: 100%;
    text-align: center;
  }
}

/* VALUES SECTION */

.values {
  padding-top: 5rem;
}

.values__heading {
  text-transform: uppercase;
}

.value__img {
  max-width: 350px;
}

.value__text {
  padding: 1rem 1rem;
  font-size: 1.5rem;
}

@media (max-width: 400px) {
  .value__container {
    max-width: 100%;
  }

  .value__text {
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .value__container {
    max-width: 100%;
    padding: 1rem 1rem;
  }
}

/* POSITIONS SECTION */

.positions {
  padding-top: 3rem;
  padding-bottom: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.positions__heading {
  text-transform: uppercase;
}

.position__container {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 3rem 1rem;
}

.position__container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.position__heading {
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 1rem;
}

@media (max-width: 400px) {
  .position__container {
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 1024px) {
  .position__container {
    max-width: 75%;
  }
}

/* CONTACT FORM SECTION */

.form {
  padding: 2.5rem 2.5rem;
  border-radius: 0.25rem;
}

@media (max-width: 400px) {
  .col-sm-3 {
    width: 100%;
  }
}

.form__heading {
  font-size: 3rem;
  text-align: center;
}

.form__input {
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}

.form__textarea {
  font-size: 1.3rem;
  resize: vertical;
  padding: 0.5rem 1rem;
  min-height: 20rem;
}

.form__submit {
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  width: 100%;
}
